*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body{
   
    overflow-x: hidden;
    background-color:#fef9f5;
  
}

@font-face {
    font-family:gilory;
    src: url(../font/Gilroy.ttf);
}
@font-face {
    font-family:patrick;
    src: url(../font/patrick.ttf);
}
h4{
    font-family:fracl; 
}
p{
    font-family:patrick;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}




.navbar-toggle {
    display: none;
    cursor: pointer;
}

.navbar-toggle span {
    display: block;
    width: 7vw;
    height: 1.5vw;
    margin: 0.7vw;
    background: linear-gradient(271.36deg, #fbfbfb 50.01%, #f5f0ea 72.39%);
    border-radius: 50px;
    transition: all 0.5s;
    color:#f88868;
}

.navbar-toggle span:nth-child(2) {
    width: 5vw;
}
/* --------------------navbar sec-------------------------- */

.header{
    position: relative;
    top: 0vw;
    left: 0;
    /* background-color: #505dc6; */
    width: 94%;
    margin: auto;
    border-radius:5vw;
    /* transform: translateY(4vw); */
    /* height: 10VW; */
    padding: 2vw;
    
    
}
.header .navbar {
    border-radius: 5vw;
    /* width: 100%; */
    display: flex;
    justify-content:space-between; 
    align-items: center;
     padding:.8VW; 
}
.header .navbar .left-side-menu .img{
    width: 10vw;
    /* transform: translateY(-.8rem); */
}

.center-menu  {
     display: flex;
    align-items: center;
    gap: 12vw;
}

.center-menu .left-nav ul {
     display: flex;
    align-items: center;
    gap: 3vw;
}
.center-menu .right-nav {
    display: flex;
   align-items: center;
   gap: 1vw;
   transform: translateX(-2vw);
}
.center-menu .right-nav .frxt img{
    width: 3.9vw;
}
.center-menu .right-nav .scndd img{
    width: 3.9vw;
}
.center-menu ul li{
    list-style: none;
    position: relative;
}
.center-menu ul li a {
    color: #000;
    font-family: patrick;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
}
.center-menu li::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color:gray;
    left: 0%;
    transition: .4s all ease;
    bottom: -7px;
}
.center-menu li:hover::after{
    width: 100%;
}

.center-menu ul li a:hover{
    color: gray;
}
.center-menu img{
    width: 3vw;
    transition: .2s;
} 

.center-menu img:hover{
    transform: translateY(-4px);
}
.center-menu .nav-bnt{
    width: 9.5vw;
    color: #e6d263;
    font-family: chil;
    background:#b0a4f6;
    padding: 1vw;
    border: none;
    border-radius: 1.5vw;
    cursor: pointer;   
    transition: .3s;
    font-size: 1.6vw;  
    /* -webkit-background-clip: text;  */
    -webkit-text-stroke:1px black;   
    border: 1px solid black;   
    line-height: 1.5vw;  
}
.center-menu .nav-bnt:hover{
    transform: translateY(-2px);
}
.scls{
    display: flex;
    align-items: center;
    gap: .6vw;
}
.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  .bnr-bg{
    /* background-image: url(../images/banr.png);
    background-size: cover;
    background-position: center;
    width: 100%; */
    /* height: 130vw; */
}
.lones{
    width: 100%;
    background-color: #e6d263;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    
}
.frstet{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: let 7s linear 1s infinite ; 
    position: relative;
    
    

}

@keyframes let {
    0% {
        left: 0%;
    }
    100% {
        left: 100%;
    }
}

.lones .frstet .fst h4{
    font-size: 2vw;
    font-family:chil;
    color:#000;
    

}
.lones .frstet .sc img{
    width:9vw;
    

}
/* -------------------text------------- */
.text{
    display: flex;
    flex-direction: column;
    margin-left: 14vw;
    margin-top: 1vw;
}
.text h4{
    font-size: 4vw;
    color: #000;
    font-family:gilory;
    width: 30%;
}
.prg{
    display: flex;
    align-items: center;
    gap: 1.5vw;
    margin-top: 2vw;
}
.prg img{
    width: 5vw;
}
.prg p{
    font-size: 1.3vw;
    width: 75%;
}
.butns{
    display: flex;
 align-items: center; 
 margin-left: -5vw;
 margin-top: -.7vw;
}
.butns .left img{
    width: 20vw;
    transition: .3s;
}
.butns .left img:hover{
    opacity: .8;
}
.butns .right img{
    width: 3vw;
    margin-top: -5vw;


}

.butns .right a span{
    font-size: 1.3vw;
margin-top: -7vw;
}
.butns .right{
    display: flex;
    gap: 1vw;
}
.chart{
    transform: translateY(-1vw);
    font-size: 1.3vw;
    font-family: patrick;
   color:#f88868;
}
.chart:hover{
    color: orange;
}
/* ------ */
.bnr-bg{
    position: relative;
}
.p1{
    position: absolute;
    width: 46vw;
    left: 50%;
    top: 12%;
    z-index: 1;
}
.p2{
    position: absolute;
    width: 11.6vw;
    left: 80%;
    top: 80%;
    z-index: 1;
}
/* ------slider----- */
.slider{
    width: 100%;
    border: 2px solid #000;
    padding: 1vw 1vw;
    display: flex;
    align-items: center;
    gap: 1vw;
    background-color: #ffffff;
    transform: rotate(-2deg);
    gap: 3vw;
}
.slider h4{
    font-size: 2vw;
    color: #000;
    transform: rotate(-1deg);
    font-family: patrick;
}
.slider img{
    width: 2.6vw;
}
.gif1{
    position: absolute;
    width: 19vw;
    
    left: 59%;
    z-index: 3;
    top: 32%;
}
/* -----------------------"marks-sec-------------------------------- */
.marks-sec{
    position:relative;
    display: flex;
   align-items: center;
   justify-content: space-between;
    margin-top: 1vw;
    padding: 8vw;
}
.marks-sec .left-side{
    display: flex;
    align-items: center;
}
.left-side {
    display: flex;
    gap: 2vw;
}
.left-side img{
    width: 16vw;
 
 
}
.box1 img{
    width: 10vw;
}.p3{
    position: absolute;
    width: 40vw;
    top: -50%;
    z-index: -1;
}
.gif2{
    position: absolute;
    width: 14vw;
    left: 9%;
    top: 12%;
  
 
}
.gif3{
    position: absolute;
    width: 16vw;
    left: 25%;
    top: 10.5%;

}
.right-side{
    display: flex;
    align-items: center;
    gap: 2vw;

}
.right-side p{
    font-size: 2vw;
    color: #000;
    font-family: patrick;
  
}
.right-side span{
    font-size: 1.5vw;
    color: #f88868;
    font-family: patrick;
}
.right-side img{
    height: 5vw;
}
/* ====================comunity-sec========================== */
.row{
    /* background-image: url(../images/bg2.png);
    background-size: cover;
    background-position: center;
    width: 98%;
    height: 10vw; */
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    gap: 6vw;
    padding: 1vw 1vw;
    height: 11vw;
    /* z-index: 7; */
    margin-top: 2vw;
   
   
}
.comunity-sec{
    position: relative;
    width: 80%;
    background-color: orange;
    border-radius: .8vw;
    /* height: 7vw; */
    margin: auto;
    z-index: 3;
   background: linear-gradient(to bottom,#fda68a,#f66e49);
   box-shadow: 10px 10px 70px #fda68a ;

}
.lines{
    position: absolute;
    width: 100%;
    z-index: -1;
}
.lefts{
    display: flex;
    align-items: center;
    gap: 5vw;
    text-align: center;
}
.lefts p{
    font-size: 2.2vw;
    color: #fff;
    font-family: patrick;
    margin-top: .3vw;
}
.lefts span{
    font-size: 1.5vw;
    color: #fff;
    font-family: patrick;
}
.l1{
 height: 5vw;
  transform: translateY(1.5vw); 
}
.rights{
    display: flex;
    align-items: center;
    gap: 1.5vw;

}
.rights img{
    width: 6vw;
}
.rights h4{
    font-size: 2vw;
    color: #fff;
    font-family: patrick;

}
.rights p{
    font-size: 1.3vw;
    color: #fff;
    font-family: patrick;
 

}
/* -----------------------road-sec------------------------------- */
.road-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7vw;
}
.road-sec .left img{

    width: 52vw;

}
.road-sec .left{
    width: 64%;
}
.road-sec .left p{
    font-size: 1.3vw;
    color: #000;
    font-family: patrick;
    width: 80%;
    margin-left: 1vw;
}
.road-sec .right{
    width: 16%;

}
.road-sec .right img{
    width:13vw;
    transition: .3s;

}
.road-sec .right img:hover{
    transform: translateY(-.3vw);
    opacity: .8;
}
/* -------road-cnt---------------- */
.road-cnt{
    position: relative;
    margin-top: 12vw;
}
.boxes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}
.boxe1{
    width: 22%;
    height: 25vw;
    border-radius: 1vw;
    background-color: #ffece5;
    transform: skewY(5deg);
    position: relative;


}
.boxe1 img{
    width: 10.4vw;
    display: flex;
    margin: auto;
    /* transform: translateY(-8vw); */
    position: absolute;
    top: -35%;
    left: 20%;
}
.boxe1 h4{
    font-size: 2.2vw;
    color: #000;
    /* margin-top: 10vw; */
    font-family: patrick;

}
.boxe1 ul li{
    font-size: 1.3vw;
    color: #000;
    /* margin-top: 10vw; */
    font-family: patrick;
    list-style: disc;

}
.boxe1 ul {
    margin-left: 1.5vw;
    margin-top: .5vw;
}
.boxe1 .txt{
   margin-top: 10vw;
  margin-left: 4vw;
}
.boxe1 .txt h4{

}
.boxe2{
    width: 22%;
    height: 25vw;
    border-radius: 1vw;
    background-color: #ffece5;
    transform: skewY(5deg);
    position: relative;
    background: linear-gradient(to bottom,#fda68a,#f66e49);

}
.boxe2 ul li{
    font-size: 1.3vw;
    color: #000;
    /* margin-top: 10vw; */
    font-family: patrick;
    list-style: disc;

}
.boxe2 ul {
    margin-left: 1.5vw;
    margin-top: .5vw;
}
.boxe2 img{
    width: 21vw;
    display: flex;
    margin: auto;
    /* transform: translateY(-8vw); */
    position: absolute;
    top: -34%;
    left: 0%;
}
.boxe2 h4{
    font-size: 2.2vw;
    color: #000;
    /* margin-top: 10vw; */
    font-family: patrick;

}
.boxe2 .txt{
    margin-top: 10vw;
   margin-left: 4vw;
 }






.boxe3{
     width: 22%;
    height: 25vw;
    border-radius: 1vw;
    background-color: #ffece5;
    transform: skewY(5deg);
    position: relative;
}
.boxe3 ul li{
    font-size: 1.3vw;
    color: #000;
    /* margin-top: 10vw; */
    font-family: patrick;
    list-style: disc;

}
.boxe3 ul {
    margin-left: 1.5vw;
    margin-top: .5vw;
}
.boxe3 img{
    width: 10vw;
    display: flex;
    margin: auto;
    /* transform: translateY(-8vw); */
    position: absolute;
    top: -37%;
    left: 20%;
}
.boxe3 h4{
    font-size: 2.2vw;
    color: #000;
    /* margin-top: 10vw; */
    font-family: patrick;

}
.boxe3 .txt{
    margin-top: 10vw;
   margin-left: 4vw;
 }
/* ------------------------project-sec------------------ */
.project-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6vw;
    margin-top: 10vw;

}
.leftss{
    width: 40%;
}
.leftss p{
    font-size: 1.3vw;
    color: #000;
    font-family: patrick;
    width: 95%;
    margin-left: 1vw;
    margin-top: 1vw;

}
.leftss .p{
    margin-top: 3vw;
}
.leftss .texts{
    width: 45vw;
}
.rightss{
    width: 30%;
    position: relative;
}
.rightss .gif7 {
    width: 28vw;
}
.leftss .buy-btn{
    width: 21vw;
    margin-left: -3.6vw;
    transition: .3s;
}
.leftss .buy-btn:hover{
    transform: translateY(-.3vw);
    opacity: .8;
}
.c1{
    position: absolute;
    width: 40vw;
    top: -40%;
}
/* --------------------- */
.join-sec{
    position: relative;
    width: 76%;
    background-color: orange;
    border-radius: .8vw;
    margin: auto;
    z-index: 3;
   background: linear-gradient(to bottom,#fda68a,#f66e49);
   box-shadow: -20px 20px 70px #fda68a ;
   height: 23vw;
   margin-top: 5vw;
}
.j1{
    position: absolute;
    width: 100%;
    z-index: -1;
}
.join-box{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.join-left{
    width: 30%;

}
.join-left img{
    width: 25vw;
    position: relative;
    left: -32.5%;
    top: -19.9%;
    /* transform: translateY(-7vw); */
  
}
.join-right{
    width: 50%;
    padding-top: 3vw;
}
.join-right h4{
    font-size: 4vw;
    color: #fff;
    font-family: gilory;
}
.join-right p{
    font-size: 1.3vw;
    color: #fff;
    font-family: patrick;
    width: 100%;
    margin-top: 1vw;
 

}
.join-right img{
    width: 13vw;
    margin-top: 2.3vw;
    transition: .3s;
}
.join-right img:hover{
    transform: translateX(.5vw);
}
/* ----------------------foter-sec------------------ */
.foter-sec{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 4vw;
    margin-top: 6vw;
}
.foter-sec h4{
    font-size: 2vw;
    color: #000;
    font-family: gilory;
    font-weight: 300;
}
.foter-sec ul{
    margin-top: 1vw;
}
.foter-sec ul li{
    font-size: 1.3vw;
    color: #000;
    font-family: patrick;
    line-height: 2.5vw;
    transition: .2s;
}
.foter-sec ul li:hover{
    color: gray;
}
.clm-1{
    width: 30%;
}
.clm-1 img{
    width: 10vw;
}
.clm-1 p{
    width: 88%;
    font-size: 1.3vw;
    color: #000;
    font-family: patrick;
}
.clm-2{
    width: 15%;
}

.clm-3{
    width: 15%;
}
.clm-4{
    width: 10%;
}
.clm-4 .icns{
    display: flex;
    gap: 1vw;
}
.clm-4 .icns img{
    width: 4vw;
    margin-top: 1vw;
    transition: .3s;
}
.clm-4 .icns img:hover{
    transform: translateY(-.5vw);
}
.linee{
    width: 90%;
    height: 1px;
    background-color: #000;
    margin: auto;
    margin-top: 2vw;
}
.end{
    font-size: 1.5vw;
    color:#f88868;
    font-family: patrick;
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
}